# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
BOOT.BIN
aie.merged.cdo.bin

# Log files and directories
*.log
*.xpe
boot_image.bif
xnwOut
_x/
aie-matrix-multiplication.xclbin.package_summary

# ctags file
tags
